body {
    background-image: url("../img/sky.png");
    background-repeat: no-repeat;
    background-size: cover;
    font:  1em sans-serif;
    text-align: center;
}

.stage {
    display: flex;
    height: 330px;
    width: 100%;
    border: solid
}

.box {
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    height: 200px;
    margin: 0 auto 0 auto;
    transform-origin: bottom;
    width: 200px;
    border: 25px solid
}

.bounce-1 {
    animation-name: bounce-1;
    animation-timing-function: linear;
    border: solid
}

@keyframes bounce-1 {
    0% { transform: translateY(0);}
    50% { transform: translateY(-60px);}
    100% { transform: translateY(0);}
}